html {
	box-sizing: border-box;
	background-color: #1D1C1A;
	height: 100%;
	margin: 0;
}

*,
*::after, 
*::before {
	box-sizing: inherit;
}

body {
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	font-size: 15px;
	color: #ffffff;
	height: 100%;
  	margin: 0;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#root {
	height: 100%;
	margin: 0;
}